*{
    margin: 0;
    padding: 0;
    border:0;
    /*display: block;*/
    font-size: medium;
    color: gray;
}
body{
    display: block;
}
.continer{
    margin-top: 5px;
    margin-left: 2%;
    width: 96%;
    height: 100%;
    /*background-color: chartreuse;*/
    /*overflow: hidden;*/
}
.select_bar {
    width: 100%;
    height: 100px;
    /*background-color: crimson;*/

}
.select_labels {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #efedea;
    overflow: hidden;
}
.select_labels ul{
    width: 100%;
    height: 100%;
    padding-left:3px;
    padding-right: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
    /*overflow: scroll;*/
    white-space:nowrap;/*内容横向排列不换行*/

}
.select_label {
    display: inline-block;
    width: auto;
    min-width: 40px;
    padding: 3px;
    height: 70%;
    margin: 5px;
    list-style: none;
    /*float: left;*/
    background-color: white;
    text-align: center;
    line-height: 35px;
    color: #FF7268;

}
.sort{
    position: relative;
    width: 100%;
    height: 40%;
    border-bottom: solid 1px gray;
     overflow: hidden;
    /*background-color: #ff7a88;*/
}
.sort ul{
    width: 100%;
    height: 100%;
    padding-left: 3px;
    padding-right: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;/*内容横向排列不换行*/
}
.sort_item{
    display: inline-block;
    /*width: 40px;*/
    height: 85%;
    width: auto;
    min-width: 40px;
    padding: 3px;
    margin: 5px;
    list-style: none;
    text-align: center;
    line-height: 30px;

    /*background-color: beige;*/
}

.list{
    width: 100%;
    height: auto;
    /*background-color: tan ;*/
}
.list_ul{
    width: 100%;
    height: auto;
    /*background-color: aquamarine;*/
}
.people_info{
    width: 100%;
    height: 50px;
    background-color: aqua;
    list-style: none;
    margin-top: 10px;
}
.info_block{
    width: 100%;
    height: 100%;
    /*background-color: chartreuse;*/
}
 ::-webkit-scrollbar{
display:none;
}